[submodule "svh"]
	path = svh
	url = https://github.com/Sven-vh/fluent-builder-pattern.git
	branch = header-only
[submodule "tag-invoke"]
	path = svh/tag-invoke
	url = https://github.com/Sven-vh/tag-invoke.git
	branch = header-only